.day-color-monday {
    background-color: #ffe16988;
}
.day-color-tuesday {
    background-color: #ffdce088;
}
.day-color-wednesday {
    background-color: #aacc0088;
}
.day-color-thursday {
    background-color: #ff800088;
}
.day-color-friday {
    background-color: #99d6ea88;
}
.day-color-saturday {
    background-color: #c86bfa88;
}
.day-color-sunday {
    background-color: #d4000088;
}
